.map-container {
    position: relative;
    width: 100vw; /* 100% del ancho de la ventana */
    height: 100vh; /* 100% de la altura de la ventana */
    overflow: hidden; /* Ocultar el desbordamiento */
  }
  
  .svg-container {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden; /* Ocultar el desbordamiento */
    position: relative;
  }
  
  .svg-map {
    cursor: grab;
    max-width: none; /* Permitir que el mapa se salga del contenedor */
    max-height: none; /* Permitir que el mapa se salga del contenedor */
  }
  
  .svg-map:active {
    cursor: grabbing;
  }
  
  .zoom-buttons {
    position: absolute;
    top: 10px;
    right: 10px;
    display: flex;
    flex-direction: column;
  }
  
  .zoom-buttons button {
    margin: 5px;
    padding: 10px;
    font-size: 16px;
    cursor: pointer;
  }
  
  .admin-buttons {
    position: absolute;
    bottom: 10px;
    left: 10px;
    display: flex;
    flex-direction: column;
  }
  
  .admin-buttons button {
    margin: 5px;
    padding: 10px;
    font-size: 16px;
    cursor: pointer;
  }
  

  .edit-punto-form {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    z-index: 1000;
  }
  
  .edit-punto-form form {
    display: flex;
    flex-direction: column;
  }
  
  .edit-punto-form label {
    margin-bottom: 10px;
  }
  
  .edit-punto-form button {
    margin-top: 10px;
  }


  .info-punto-popup {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgb(110, 104, 104);
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    z-index: 1000;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  .info-punto-content {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .info-punto-content h2 {
    margin-bottom: 10px;
  }
  
  .info-punto-content p {
    margin: 5px 0;
  }
  
  .info-punto-content button {
    margin-top: 10px;
  }