.map-container {
    position: relative;
    width: 100vw; /* 100% del ancho de la ventana */
    height: 100vh; /* 100% de la altura de la ventana */
    overflow: hidden; /* Ocultar el desbordamiento */
  }
  
  .svg-container {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden; /* Ocultar el desbordamiento */
    position: relative;
  }
  
  .svg-map {
    cursor: grab;
    max-width: none; /* Permitir que el mapa se salga del contenedor */
    max-height: none; /* Permitir que el mapa se salga del contenedor */
  }
  
  .svg-map:active {
    cursor: grabbing;
  }
  
  .zoom-buttons {
    position: absolute;
    top: 10px;
    right: 10px;
    display: flex;
    flex-direction: column;
  }
  
  .zoom-buttons button {
    margin: 5px;
    padding: 10px;
    font-size: 16px;
    cursor: pointer;
  }
  
  .admin-buttons {
    position: absolute;
    bottom: 10px;
    left: 10px;
    display: flex;
    flex-direction: column;
  }
  
  .admin-buttons button {
    margin: 5px;
    padding: 10px;
    font-size: 16px;
    cursor: pointer;
  }
  
  .info-popup {
    position: absolute;
    bottom: 10px;
    right: 10px;
    background-color: white;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }