#root {
  width: 100%;
  height: 100vh;
  /* Asegúrate de que ocupe toda la pantalla */
  max-width: none;
  /* Elimina la restricción de ancho máximo */
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
}